@using JoesPizza.Models;
@model ChangeViewModel

@{
    ViewData["Title"] = "OrderStatus";
}


<h4>Order Status</h4>
<p style="background-color:green;color:white">Payment Successful. Thank you</p>
<p> Order Id: @Model.ChargeId</p>





