@model JoesPizza.Models.Product

@{
    ViewData["Title"] = "Create";
}


<div style="padding-right:130px;padding-left:130px">
    <h4>Add New Product</h4>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <form class="jumbotron" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <b> <label asp-for="Name" class="control-label"></label></b>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <b> <label asp-for="Price" class="control-label"></label></b>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <b>  <label asp-for="Image" class="control-label"></label></b>
                    <input asp-for="Image" class="form-control" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <b>   <label asp-for="Description" class="control-label"></label></b>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group ">
                    <input type="submit" value="Add" class="btn btn-primary " />
                </div>
                <a asp-action="Index">Back to List</a>
            </form>
        </div>
    </div>
    </div>

