@model JoesPizza.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<div style="padding-right:130px;padding-left:130px">
    <h4>Edit Product</h4>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <form asp-action="Edit" class="jumbotron">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <b><label asp-for="Name" class="control-label"></label></b>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <b> <label asp-for="Price" class="control-label"></label></b>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <b> <label asp-for="Image" class="control-label"></label></b>
                    <input asp-for="Image" class="form-control" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <b> <label asp-for="Description" class="control-label"></label></b>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
            </form>
        </div>
    </div>
    </div>



